body{
    margin: 0;
    padding: 0;
    background-color: black;
    -webkit-font-smoothing: antialiased;
}

html {
	width: 100%;
	overflow-x: hidden;
	position: relative;
	height: auto;
	font-size: 16px;
}

.bgimg-1 {
	color: #222222;
	font-family: sans-serif;
	letter-spacing: -0.02em;
	line-height: 0.90em;
	padding: 80px 85px 0 85px;
    background-image: url("/img/bg4.JPG");
    min-height: 100%;
    height: 80vh;
    
    
}

.bgimg-2 {
    background-image: url("/img/bg1.JPG");
    min-height: 100%; 
    height: 50vh;
}

.bgimg-3 {
    background-image: url("/img/bg9.JPG");
    min-height: 100%; 
    height: 50vh;
}


.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.99;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

/*      Header       */

h2 {
    width: 750px;
        /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.01);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    
}

.logo img{
    
    padding-top: 0em;
    width:10%;
    height: auto;
}

#firstname{
    
    font-family:"Lato";
    font-size: 110px;
    color: white;
    font-weight: 300;
    text-shadow: -1px 0 black, 0 0px black, 0px 0 black, 0 0px black;

    
}

#lastname{
    
    font-family:"Lato";
    font-size: 110px;
    color: white;
    font-weight: 100;
    text-shadow: -1px 0 black, 0 0px black, 0px 0 black, 0 0px black;
}

.subtitle{
    
    font-family:"Lato";
    font-size: 18px;
    /*color: #857777;*/
    color: #00A2FF;
    
}

#thin {
    font-weight: 300;
}

.intro{
    
    font-family:"Lato";
    font-size: 24px;
    margin: 10% auto;
    width: 1000px;
    color: #857777;
    
}

#header {
    height: 100vh;
    background-color: white;
}

#header a {
    
    font-family:"Lato";
    font-size: 15px;
    color: white;       
}

#header a:hover{
    color: gold; 
    text-decoration: none;
}


#menu {
    
    display: inline;
    padding-right: 2em;
    padding-left: 2em;
    
}


#sep {

    margin-right: 1.5em;
    

}

.divider {
    
    color: white;
    background-color: #272a2d;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
    
}

#elon {
    text-align: center;
    color: white;
    font-family: "Lato"
}


/*      about       */

.about{
    
    background-color: white;
    height: 50vh;
}

.aboutElements {
    
    width: 900px;
    margin: 0 auto;
    padding-left: 6em;
    padding-top: 3em;
    
}
.aboutElements img{
    
    width: 35%;
    height: auto;
    border-color: black;
    border-style: solid;
    border-width: thin;
    margin-top: 40px;

}
.aboutTitle {
    
    text-align: left;
    margin-left: 1.4em;
    padding-left: 100px;
    font-family: "Lato";
    font-size: 4em;
    padding-top: 80px;
    width: 400px;
}


.aboutContent {
    text-align: left;
    padding-left: 25em;
}



/*      Selected Works      */

.work {
    
    background-image: url("/img/bg8.JPG");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
}

.workElements {
    
    padding: 80px 50px 50px 50px;
}

.workTitle h1{
    text-align: center;
    font-family: "Lato";
    font-size: 4em;
}


.folioCaptions {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    font-family: "Lato";
    font-size: 1.2em;
    width: 500px;
}

#work a:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#folioImages{
    
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    width: 20%;
    height: auto;
}

.title {
  font-family: "Lato";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.title span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

/*      Contact      */

#contact {
    
    height: 30em;
    
}

#social {
    padding-top: 150px;
    padding-left: 0px;
}

#social a {
    color: black;
    font-size: 50px;
    padding-left: 50px;
}

#social a:hover {
    color: gold;
}

#social li {
    
    color: white;
	display: inline-block;
    
}

